@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $light_color;
  color: $dark_color;
  font-family: $font_stack;
  line-height: 1.5;
}

// header {
//   background: $dark_color;
//   color: $light_color;
//   padding: 1rem;

//   h1 {
//     text-align: center;
//   }
// }

header {
  background: $dark_color;
  color: set-text-color($dark_color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

// header h1 {
//   text-align: center;
// }

.section {
  padding: 3rem;

  h3 {
    font-size: 2rem;
  }

  &-a {
    background: $primary_color;
    color: set-text-color($primary_color);
  }

  &-b {
    background: $seondary_color;
    color: set-text-color($seondary_color);
  }
}

// a {
//   color: #333;

//   &:hover {
//     color: coral;
//   }
// }

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: $light_color;
    color: #333;

    &:hover {
      @include transform(rotate(20deg));
      background-color: darken($light_color, 10%);
    }
  }

  &-dark {
    @extend %btn-shared;
    background-color: $dark_color;
    color: #fff;

    &:hover {
      @include transform(rotate(-20deg));
      background-color: lighten($dark_color, 10%);
    }
  }
}
//same allternative way

// .btn-light {
//   @extend %btn-shared;
//   background-color: $light_color;
//   color: set-text-color($light_color);
// }

// .btn-dark {
//   @extend %btn-shared;
//   background-color: $dark_color;
//   color: set-text-color($dark_color);
// }
